.details{
    width:500px;
    height: 600px;
    background-color: #e9e9e9;
    margin: 25px auto;

    h1{
        text-align: center;
    }

    p{
        text-align: center;
    }
}

.city{
    width:800px;
    height: 250px;
    margin-left: 60px;
}

.Chisinau {
    background-image: url('../../shared/images/chisinau.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.Kiev{
    background-image: url('../../shared/images/kiev.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.Moscow{
    background-image: url('../../shared/images/moscow.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.London{
    background-image: url('../../shared/images/london.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.Berlin{
    background-image: url('../../shared/images/berlin.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.Paris{
    background-image: url('../../shared/images/paris.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.Pekin{
    background-image: url('../../shared/images/pekin.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}